<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="container">

<div style="font-size: 24px">
  <p><strong>Optometry Case Report</strong></p>
  <p><span style="font-weight: 400">&nbsp;</span></p>
  <p>
    <span style="font-weight: 400"
      >Health record number:&nbsp; SAIC001/2023&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;Date of Eye examination:&nbsp; 05/02/2023</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >Name of the patient:&nbsp; Venkatesan C&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp;Age:&nbsp; 78&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; Gender: M&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;</span
    >
  </p>
  <hr />
  <p><strong>History:</strong></p>
  <p>complaints:&nbsp; Both eyes decrease vision - NV > DV- with & without Cx - 10 days </p>
  <p>
    <span style="font-weight: 400"
      >Previous History (Both health &amp; eye):&nbsp; Using Glasses</span
    >
  </p>
  <p>
    <span style="font-weight: 400">Family History:&nbsp; Nothing significant</span>
  </p>
  <p>
    <span style="font-weight: 400"
      >Previous Investigation report:&nbsp; Nil</span
    >
  </p>
  <p><span style="font-weight: 400">Medicines taken:&nbsp; HT medicines - details not available</span></p>
  <p><span style="font-weight: 400">Allergy:&nbsp; Not Aware off</span></p>
  <p>Previous Glass Prescription ()</p>
  <p>
    <span style="font-weight: 400"
      >Right Eye: +1.50 DS/ -1.00 x 90</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >Left&nbsp; &nbsp;Eye: +1.00 DS/ -0.75 x 90</span
    >
  </p>
  <p><span style="font-weight: 400">Add:</span></p>
  <p><span style="font-weight: 400">Comments: Bifocals ; not scratches ;  fitting okay </span></p>
  <hr />
  <p><strong>Clinical Refraction</strong></p>
  <p><span style="font-weight: 400">Presenting Visual Acuity:&nbsp;</span></p>
  <p><span style="font-weight: 400">Right Eye:</span></p>
  <p><span style="font-weight: 400">Left&nbsp; &nbsp;Eye:</span></p>
  <p><span style="font-weight: 400">Best Corrected Visual Acuity:</span></p>
  <p><span style="font-weight: 400">Right Eye</span></p>
  <p><span style="font-weight: 400">Left Eye</span></p>
  <p>
    <span style="font-weight: 400"
      ><strong>Binocular Vision Status:&nbsp;</strong></span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >OM -&nbsp; OD Full OS Full OU Full&nbsp;</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >CT(with Cx):&nbsp; Distance: &nbsp; Near: &nbsp;</span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >NPC: Subjective:  Objective: </span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      >NPA: OD  OS  OU </span
    >
  </p>
  <p>
    <span style="font-weight: 400"
      ><strong>Pupil</strong>:&nbsp; &nbsp; OD&nbsp; Reacting to light&nbsp; &nbsp;OS
      Reacting to light&nbsp; OU </span
    >
  </p>
  <p><span style="font-weight: 400">Comments:&nbsp; OD: Round   OS: Obliquely oval</span></p>
  <p><strong>ANTERIOR SEGMENT FINDINGS:</strong></p>
  <table
    style="border-collapse: collapse; width: 99.8095%; height: 257px"
    border="1"
  >
    <tbody>
      <tr>
        <td style="width: 33.3333%">Right Eye</td>
        <td style="width: 33.3333%">&nbsp;</td>
        <td style="width: 33.3333%">Left Eye</td>
      </tr>
      <tr>
        <td style="width: 33.3333%">Normal</td>
        <td style="width: 33.3333%">Lids</td>
        <td style="width: 33.3333%">Normal</td>
      </tr>
      <tr>
        <td style="width: 33.3333%">Normal</td>
        <td style="width: 33.3333%">Conjunctiva</td>
        <td style="width: 33.3333%">Normal</td>
      </tr>
      <tr>
        <td style="width: 33.3333%">Normal</td>
        <td style="width: 33.3333%">Cornea</td>
        <td style="width: 33.3333%">Normal</td>
      </tr>
      <tr>
        <td style="width: 33.3333%">Normal</td>
        <td style="width: 33.3333%">AC</td>
        <td style="width: 33.3333%">Normal</td>
      </tr>
      <tr>
        <td style="width: 33.3333%">Normal</td>
        <td style="width: 33.3333%">Iris</td>
        <td style="width: 33.3333%">Normal</td>
      </tr>
      <tr>
        <td style="width: 33.3333%">PC IOL in Place</td>
        <td style="width: 33.3333%">Lens</td>
        <td style="width: 33.3333%">PC IOL in Place</td>
      </tr>
      <tr>
        <td style="width: 33.3333%">Normal</td>
        <td style="width: 33.3333%">Tear Film</td>
        <td style="width: 33.3333%">Normal</td>
      </tr>
    </tbody>
  </table>
  <p>Comments: NAD</p>
  <p>
    <strong>INTROCULAR PRESSURE:</strong>&nbsp;06:20:30 &nbsp; &nbsp;OD
     OS &nbsp;
  </p>
  <p><strong>POSTERIOR SEGMENT FINDINGS:</strong></p>
  
  <div style="display: flex; gap: 30px">
  </div>
 
  <!-- <p>&nbsp;</p> -->
  <!-- <p>Comments:</p> -->
  <div
    style="
      display: grid;
      grid-template-areas:
        'left' 'right'
        'left' 'right'
        'left' 'right';
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    "
  >
    <div style="grid-area: left">Right Eye:&nbsp; Not done</div>
    <div style="grid-area: right">Left Eye:&nbsp; Not done</div>
  </div>
  <p>&nbsp;</p>
  <p>Diagnosis&nbsp; &nbsp; &nbsp; :&nbsp; Mild Visual Impairment OU Pseudophakia OU  Systemic Hypertension</p>
  <p>Management : Reassured; continue same glasses ; needs dilated fundus evaluation ( cant see with undilated pupils) - patient suggested the same and ask to come in 3-6 months time for the same</p>
  <p>Glass Prescription:&nbsp;</p>
  <p>&nbsp;</p>
  <p>R. Krishna Kumar</p>
  <p>
    Signature/Name of the Optometrist&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; Date: 05/02/2023
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
</div>
  </body>
</html>